@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,wght@0,100;0,200;1,100&family=Roboto:ital,wght@0,100;0,300;0,400;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.cursor {
    cursor: pointer;
}

.panel-header {
    padding: 15px 20px  15px 0;
    border-bottom: 1px solid rgba(0,0,0,.05) ;
    color: #595959;
    font-size: 11px;
}

h1 {
    color: #00817d;
}

section h4 {
    color: #00817d;
}

/* section one */

.section-one {
    padding-top: 60px;
    padding-bottom: 40px;
}

/* section two */
.section-two {
    padding-top: 60px;
    padding-bottom: 40px;
}


/* section three */
.section-three {
    padding-top: 60px;
    padding-bottom: 40px;
}


/* section four */
.section-four {
    padding-top: 60px;
    padding-bottom: 40px;
}



@media screen and (max-width:992px) {

    .section-four img {
        margin-bottom: 32px;
    }

}
