@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,wght@0,100;0,200;1,100&family=Roboto:ital,wght@0,100;0,300;0,400;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.cursor {
    cursor: pointer;
}

.panel-header {
    padding: 15px 20px 15px 0;
    border-bottom: 1px solid rgba(0, 0, 0, .05);
    color: #595959;
    font-size: 11px;
}

h1 {
    color: #00817d;
}


/* section one */
.section-one .container {
    border-bottom: 1px solid rgba(0, 0, 0, .05);
}

.section-one .container .mb-30 {
    margin-bottom: 30px;
}

.section-one .container .card:hover {
    background-color: #00817d;
    color: #fff;
}

.section-one .card .card-body {
    height: 136px;
}

.section-one .card .card-body .pb-2 {
    font-weight: 300;
}

.section-one .card .card-text {
    color: #00817d;
    font-weight: 600;
}

.section-one .card img {
    height: 260px;
    width: 100%;
}

.section-one .card.zoom-img .img-style {
    overflow: hidden;
}

.section-one .card.zoom-img .img-style img {
    transition: transform 0.3s ease;
}

.section-one .card.zoom-img:hover img {
    transform: scale(1.2);
}

.section-one .card.zoom-img:hover .card-body .card-text {
    color: #fff;
}

.section-one .card.zoom-img:hover .card-body i {
    color: #fff !important;
}
